@import 'tailwindcss';
@import './base.css';
@import './component.css';
@import './layout.css';
@import './utilities.css';
@import './custom.css';


@theme {

    --breakpoint-1920:1921px;
    --breakpoint-1600:1601px;
    --breakpoint-1512:1513px;
    --breakpoint-1440:1441px; 
    --breakpoint-1366:1367px; 
    --breakpoint-1199:1200px;
    --breakpoint-1024:1025px; 
    --breakpoint-992:993px; 
    --breakpoint-768:769px;
    --breakpoint-640:641px; 
    --breakpoint-576:577px; 
    --breakpoint-425:426px;
    --breakpoint-375:376px;

    /* fonts */
    --font-Cinzel: "Cinzel", serif;
    --font-body: "Open Sans", sans-serif;
    --font-Sacramento: "Sacramento", cursive;
    --font-inherit: inherit;
  
    /* font-weight */
    --font-weight-inherit: inherit;


    --color-primary: #0D4898;
    --color-dark-blue-gray: #35454C5C;
    --color-cream: #EBEBDE;
    --color-tan: #A18A6B;
    --color-overlay-dark: #171B23;
    --color-charcoal: #35454C;
    --color-navy-blue: #E2E9F3;

    --text-heading-1: 48px;
    --text-heading-2: 68px;
    --text-heading-3: 52px;

    --text-32: 32px;
    --text-28: 28px;
    --text-18: 18px;
    --text-14:14px;
    --text-24:24px;
    --text-16:16px;

    --leading-38: 38px;
    --leading-32: 32px;
    --leading-65:65px;
    --leading-69: 69px;
    --leading-56: 56px;


    --tracking-1.4: 1.4px;
    --tracking-1.6: 1.6px;

    --blur-2: 2px;
    --blur-50: 50px;

    --radius-50: 50px;
    --radius-60: 60px;
    --radius-40: 40px;
    --radius-20: 20px;

    --shadow-testimonial: 2.2px 2.2px 4.4px 1.1px rgba(0,0,0,0.10);
    --shadow-footer-panel: 0px 4px 4px 0px rgba(0,0,0,0.25);

    --aspect-testimonial: 399 / 527;
    --aspect-hz-main: 888 / 560;
    --aspect-proven-media: 698 / 798;
    --aspect-proven-accent: 266 / 294;

    --spacing: 1px;
}